/*Profile*/

.profile{
	background: url('../img/maze-black.png');
}

#ui-card{
	margin-top: 50px;
	float: left;
	
}
a:hover{
	background: #969690;
	font-color: #F5EE0C;
	border-radius: 5%;
}

/*Balance*/
.balance{
	background: #969690; 
}

.balance h2, h3{
	color: #000;
	font-family: 'Josefin Sans', sans-serif;
}
.balance td{
	color: #F5EE0C;
	background: #000;
	font-family: 'Josefin Sans', sans-serif;
}

.balance th{
	background: #969690;
}
.header-menu a:hover{
	background: #000;
	color: #F5EE0C;
}

.soar-progress {
	font-family: 'Josefin Sans', sans-serif;
	background: url(../img/mooning.png);
}
.soar-progress .bar{
	background: white;
}

.calendar table{
	float: left;
	
}