/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

body{
	background: ;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/*Style Tile for William Hayden*/
.color-1{
	background: #969690;
}

.color-2{
	background: #000;
}

.color-3{
	background: #F5EE0C;
}

.pattern-1{
	background: url(../img/mooning.png);
}

.pattern-2{
	background: url(../img/maze-black.png);
}

.pattern-3{
	background: url(../img/cream-dust.png);
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}